# Node.js
node_modules/
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Misc
*.local
*.log

# Optional: ignore build output if any
dist/
build/ 